@media (min-width: 1921px) {
   
}

// Hover section
@media (min-width: 1025px) {
   .footer {
      &__navigation li {
         transition: .1s ease;
         &:hover {
            color: $black;
         }
      }
   }
   .socials, .hero__socials {
      li, svg, path {
         transition: all .2s;
      }
      li:hover {
         transform: scale(1.1);
         // background-color: $blue;

         svg, path {
            // fill: $accentHover;
         }
      }
   }
   .header__navigation a {
         position: relative;

         &::before {
            position: absolute;
            content: "";
            bottom: -4px;
            left: 0;
            width: 0;
            background-color: $main;
            height: 1px;
            transition: .3s ease-in-out;
         }
         &:hover::before {
            width: 100%;
         }
   }

}
// /Hover section

@media (max-width: 1440px) {
   .header {
      &__btn {
         margin-left: 25px;
      }
      &__languages-select {
         margin-left: 15px;
      }
      &__navigation {
         li {
            & + li {
               margin-left: 15px;
            }
         }
      }
   }
}

// Laptop
@media (max-width: 1366px) {
   
}

@media (max-width: 1280px) {
   .header {
      &__center {
         display: none;
      }
      &__socials {
      }
      &__languages-select {
         display: none;
      }
      &__phone {
         display: none;
      }
      &__btn {
         display: none;
      }
      &__menu-btn {
         display: block;
      }
   }
}

@media (max-width: 1200px) {
}
// Laptop

// Tablets 
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 700px) {
} 

@media (max-width: 640px) {
}
// /Tablets 

// Mobile phones
@media (max-width: 420px) {
}
@media (max-width: 370px) {
}
// /Mobile phones