.hero {
    &__inner {
        position: relative;
        display: flex;
        min-height: calc(100vh - 215px);
        padding-bottom: 90px;
    }
    
    &__panel {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__languages {
        margin-bottom: 30px;
        li {
            position: relative;
            color: #7f7f7f;
            &.active {
                color: $main;
                font-weight: 600;
            }
            & + li {
                padding-top: 50px;
                &::before {
                    position: absolute;
                    content: "";
                    top: 10px;
                    left: 10px;
                    height: 30px;
                    background-color: #7f7f7f;
                    width: 1px;
                }
            }
        }
    }

    &__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-top: auto;
        li {
            margin-bottom: 30px;

        }

        &::after {
            content: "";
            width: 1px;
            height: 91px;
            background-color: #7f7f7f;
        }
    }


    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 179px;
        width: calc(45% - 179px);
    }

    &__caption {
        position: relative;
        padding-left: 50px;
        font-weight: 400;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 10px;
            transform: none;
            width: 30px;
            height: 1px;
            background-color: $main;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 208px;
        line-height: 283px;
        position: relative;
        z-index: 3;
        margin-left: -14px;
        opacity: 0;
        transform: translateX(-100px);
        width: 0;
        animation: hero-title 1s ease-out forwards;
        animation-delay: 1.9s;
    }

    &__subtitle {
        margin-bottom: 60px;
        padding-right: 80px;
        font-weight: 400;
    }

    &__btn {
        margin-bottom: 30px;
    }

    &__bg {
        position: absolute;
        right: 0;
        top: -215px;
        bottom: 0;
        height: calc(100% + 215px);
        min-height: 100vh;
        width: 55%;
        z-index: -1;
        background-color: $accent;
        text-align: right;
        transform: translateY(-200%);
        animation: hero-img 1.7s ease-out forwards;
    }

    &__img {
        position: absolute;
        right: 0;
        top: -215px;
        bottom: 0;
        height: calc(100% + 215px);
        min-height: 100vh;
        width: 55%;
        text-align: right;
        opacity: 0;
        animation: fadeIn 1.2s ease-in-out forwards;
        animation-delay: 3s;
        z-index: 5;

        img {
            position: relative;
            height: 100%;
            width: 665px;
            margin-right: 33px;
        }
    }

    &__location {
        font-size: 16px;
        margin-top: auto;
    }

    &__caption,
    &__panel,
    &__subtitle,
    &__location,
    &__btn {
        opacity: 0;
        animation: fadeIn 1.3s ease-in-out forwards;
        animation-delay: 4s;
    }
}

@keyframes hero-img {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hero-title {
    0% {
        transform: translateX(-100px);
        width: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
        transform: translateX(0);
    }
}
