.section-hero {
    position: relative;
    
    &__inner {
        min-height: calc(100vh - 150px);
        position: relative;
        padding-bottom: 50px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        a + a {
            margin-left: 55px;
        }
    }

    &__position {
        position: relative;
        padding-left: 50px;
        margin-bottom: 30px;
        margin-top: 153px;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 10px;
            height: 1px;
            background-color: $main;
            width: 30px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 120px;
        line-height: 163px;
        margin-bottom: 100px;
    }

    &__img {
        position: absolute;
        right: 0;
        top: 0;
        width: 54%;
        height: 94%;
        background-color: $accent;
        z-index: -1;
    }
}

.service-hero {
    padding-bottom: 0;
    margin-bottom: 150px;
}
