.services {
    padding-bottom: 50px;
    &__title {
        margin-bottom: 100px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -50px -25px;
        overflow: hidden;
    }

    &__name {
        display: inline-block;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__item {
        margin: 50px 25px;
        width: calc(33.333% - 50px);
    }

    &__img {
        display: block;
        height: 500px;
        img {
            height: 100%;
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 30px;
        margin-top: 30px;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: $main;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        span {
            margin-right: 30px;
        }
        svg {
            flex-shrink: 0;
        }
    }
}

.services-list-page {
    padding-bottom: 80px;
}